nav {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 20px;
    background-color:#F3FCF0;
    margin-left: 10px;
    margin-right: 10px;
}

#logo-container {
    margin-left: 20px;
}

a:visited, a {
    text-decoration: none;
    color: black;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90vw;
}

.nav-container a {
    margin-right: 20px;
    margin-left: 20px;
}

.nav-container p {
    margin-right: 20px;
}

