body{
    padding: 20px;
    font-family: Helvetica, sans-serif;
    background-color: #ebfffe;
}

section {

    width: 400px;
    height: 70vh;
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
    padding-text-outline: 100px;
    background-color: white;
    display: grid;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    box-shadow: 1px 1px 5px #d2d2d2;
    vertical-align: center;

}

form {
    margin-top: 150px;
    margin-left: -5px;
    width: 300px;
}

input {
    padding-right: 10px;
    padding-left: 10px;
    height: 35px;
    width: 300px;
    background-color: white;
    border: 1px solid #c6c6c6;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    position: center;
}
input:focus{
    outline: none;
}

button {
    height: 40px;
    width: 320px;
    background-color: #04bad2;
    border: 1px solid #04bad2;
    border-radius: 20px;
    color: white;

}

