nav{
    width: 94%;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 10px;
    height: 5%;
    top: 20px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    align-items: center;
    border-radius: 50px;
    background-color: #fdeb43;
    box-shadow: 1px 1px 15px #cac9c9;
}

nav button{
    background-color: transparent;
    border: none;
    font-size: 16px;
}