section {
    height: 100vh;
    margin: 10px;
    padding: 10px;
    background-color: #F3FCF0;
    align-content: center;
}

section h1 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 30px;
}

#shipping-information {
    margin-left: 30px;
}

#shipping-information h3 {
    font-weight: bold;
    font-size: 20px;
}

#shipping-information p {
    margin-bottom: 5px;
}

#order-container {
    margin-top: 30px;
}

#order-container h3 {
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
}

#order-container table {
    margin-top: 20px;
    margin-bottom: 20px;
}

#order-container form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}