body{
    font-family: Helvetica, sans-serif;
    background-color: #ebfffe;
    padding: 20px;
}

#container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shipping_container {
    margin-top: 50px;
    horiz-align: center;
}

h3 {
    margin-top: 50px;
    font-size: 30px;
}

.address_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 10px;
}

#continue_button {
    margin-top: 15px;
}

label {
    margin-bottom: 20px;
}

input {
    margin-top: 3px;
}

form {
    position: center;
}

